/* 
:root{
    --lightIvory: #EDFFE3;
} */

.toolBar {
    background-color: var(--primary);
    color: var(--lightIvory);
    padding: 30 30;
    width: 100%;
    height: 38px;
    align-content:center;
    margin-bottom: 10px;
}
.toolBar label{
    font-size: 16px;
    float: left;
    font-weight: bold;
    top: 0;
    padding: 5px 50px 5px 50px;
}