/* :root {
    --lightIvory: #EDFFE3;
    --base: #17698f;
} */

.circle label {
    font-size: 30px;
    color: var(--lightIvory);
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    font-weight: bold;
}
.circle {
    display: table;
    background-color: var(--baseFill);
    /* width: 100px;
    height: 100px;
    border-radius: 50%; */
}
.avatar {
    float: left;
}

.circle {
    float: left;
}